@model Core.Model.NhanVien

@{
    ViewBag.Title = "Profileuser";
    Layout = "~/Views/Shared/Admin/_LayoutAdminInside.cshtml";
}

<section class="content-header">
  <h1>
    User Profile
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Examples</a></li>
    <li class="active">User profile</li>
  </ol>
</section>

@if(@TempData["Success"] != null)
{   
    <div class="form-group has-success" style="margin: 20px 20px">
            <label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> @TempData["Success"] </label>
    </div>
} 
else if (@TempData["Fails"] != null)
{
    <div class="form-group has-error" style="margin: 20px 20px">
        <label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> @TempData["Fails"] </label>
    </div>
}

    <!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
          <img class="profile-user-img img-responsive img-circle" src="/Assets/Admin/dist/img/user4-128x128.jpg" alt="User profile picture">

          <h3 class="profile-username text-center">@Model.HoTen</h3>

          <p class="text-muted text-center">@Model.LoaiNhanVien.tenLoaiNhanVien</p>

        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->

			<div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">About Me</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
					<button class="btn btn-success" data-toggle="modal" data-id=@Model.idNhanvien data-target="#changePasswordModal" style="width:100%;">Change Password</button>
    			</div>
            </div>
      
      </div>
      <!-- /.box -->
	
    <!-- /.col -->
    <div class="col-md-9">
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#settings" data-toggle="tab">Info</a></li>
        </ul>
        <div class="tab-content">

          <div class="active tab-pane" id="settings">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Full Name</label>

                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputName" placeholder="Name" readonly value=@(String.Format("{0}", @Model.HoTen.ToString()))>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                  <input type="email" class="form-control" id="inputEmail" placeholder="Email" readonly value=@Model.Email>
                </div>
              </div>
              <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Phone number</label>
                <div class="col-sm-10" style="line-height: 2.5;">
									@Model.SoDienThoai.ToString()
                </div>
              </div>
              <div class="form-group">
                <label for="inputExperience" class="col-sm-2 control-label">Address</label>

                <div class="col-sm-10">
                  <textarea class="form-control" id="inputExperience" placeholder="Experience" readonly>
                    @Model.DiaChi
				</textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="inputSkills" class="col-sm-2 control-label">Position</label>

                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputSkills" placeholder="Skills" readonly value=@Model.LoaiNhanVien.tenLoaiNhanVien >
                </div>
              </div>

			   <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Create Date</label>
                <div class="col-sm-10" style="line-height: 2.5;">
									@Model.NgayTao
                </div>
              </div>

			  <div class="form-group">
                <label for="inputName" class="col-sm-2 control-label">Update Date</label>
                <div class="col-sm-10" style="line-height: 2.5;">
									@Model.NgayThayDoi
                </div>
              </div>

					
            </form>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- /.nav-tabs-custom -->
    </div>
    <!-- /.col -->
    </div>
</section>



 <div class="modal fade" id="changePasswordModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">EDIT ACCOUNT</h4>
        </div>
        <div class="modal-body">

        <form role="form" id="UpdatAccount" action="/Admin/ChangePassword" method="post">
              <div class="box-body">
                <div class="form-group">
                  <label for="oldpassword">Old Password</label>
                  <input type="password" class="form-control" id="oldpassword" name="oldpassword" placeholder="Old Password">
                </div>
				<div class="form-group">
                  <label for="newpassword">New Password</label>
                  <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="New Password">
                </div>
				<div class="form-group">
                  <label for="comfrimpassword">Confrim Password</label>
                  <input type="password" class="form-control" id="comfrimpassword" name="comfrimpassword" placeholder="Confrim Password">
                </div>
              </div>
              <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/Assets/Admin/jquery.validate.js"></script>

  <script>
  $(function () {

    $('#UpdatAccount').validate({
        rules: {
             oldpassword: {
                    required: true,
                    minlength: 5
                },
             newpassword: {
                    required: true,
                    minlength: 5
              },
             comfrimpassword: {
                    required: true,
                    minlength: 5, 
	                equalTo: '#newpassword'
             }
       }, 
        messages: {
            oldpassword: {
                required: "Please enter your password",
                minlength: "Password must consist of at least 5 characters"
            },
	        newpassword: {
                required: "Please enter your password",
                minlength: "Password must consist of at least 5 characters"
            },
            comfrimpassword: {
                required: "Please enter your password",
                minlength: "Password must consist of at least 5 characters",
	            equalTo: "Please confim password correct!"
            }
        },
        highlight: function (element) {
            $(element).parent().removeClass('has-success')
            $(element).parent().addClass('has-error')
        },
        unhighlight: function (element) {
            $(element).parent().removeClass('has-error')
            $(element).parent().addClass('has-success')
        }
    });
  })
</script>

  
