@model Core.Model.KhachHang

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="content">
    	<div class="container">
             @Html.ValidationSummary(true, "", new {@class = "text-danger"})

             <label><b>Username</b></label>
             @Html.EditorFor(model => model.Username, new { htmlAttributes = new {@class = ""} })
             @Html.ValidationMessageFor(model => model.Username, "", new {@class = "text-danger"})


             <label><b>Password</b></label>

             @Html.EditorFor(model => model.Password, new { htmlAttributes = new {@class = ""} })
             @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})

             <div style ="margin-top:10px;">
                <button type="submit" class= "login-btn">Login</button>
                <input type="checkbox" checked="checked"> Remember me
             </div>
    	</div>

		<div class="container" style="background-color:#f1f1f1">
          <button type="button" class="signup_btn">Sign up</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>

        
</div>
    
 }




<div id="id01" class="modal">
<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
@using (Html.BeginForm("Register", "User", FormMethod.Post, new {@class = "modal-content animate"}))
{
	
  @Html.ValidationSummary(true, "", new {@class = "text-danger"})
  <div class="container">
    <label><b>Email</b></label>
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new {@class = ""} })

		
    <label><b>Password</b></label>
    @Html.EditorFor(model => model.Password, new { htmlAttributes = new {@class = ""} })

    <label><b>Tên Khách Hàng</b></label>
    @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new {@class = ""} })


    <label><b>UserName</b></label>
    @Html.EditorFor(model => model.Username, new { htmlAttributes = new {@class = ""} })


	<label><b>Phonenumber</b></label>
	@Html.EditorFor(model => model.SDT, new { htmlAttributes = new {@class = ""} })


    <label><b>Address</b></label>
    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new {@class = ""} })

	<label><b>Gender</b></label>
    @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new {@class = ""} })

		
    <input type="checkbox" checked="checked"> Remember me
    <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

    <div class="clearfix">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancel-btn">Cancel</button>
      <button type="submit" class="signup-btn">Sign Up</button>
    </div>
  </div>
}

</div>

<script>
var modal = document.getElementById('id01');
$('.signup_btn').click(function(e){
$('#id01').css('display','block');
})
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal) {
    modal.style.display = "none";
}
}
</script>
